<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Reviews</a>
  
    <h1>My Review Blog</h1>
    <h1>Reviews</h1>
    <p>This is where I will post about my journey reviewing books.</p>
  </body>