
---
import BaseLayout from '../layouts/baselayout.astro';
import Blogpost from '../components/blogpost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "List of Reviews";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey reviewing books.</p>
      <ul>
        {allPosts.map((post: any) => <Blogpost url={post.url} title={post.frontmatter.title} />)}      
      </ul>
</BaseLayout>


