---
import BaseLayout from '../layouts/baselayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>sharing self-induced book reports to catalog what i've read</h2>
</BaseLayout>