---
const platform = "github";
const username = "mharde";
import Social from './social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p><Social platform="github" username="mharde" /></p>

</footer>